<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218916849638-7u190vm0pd7rnhsbc3u7ossvh66jb1hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218916849638-7u190vm0pd7rnhsbc3u7ossvh66jb1hh</string>
	<key>API_KEY</key>
	<string>AIzaSyB4-YHZ89IU6ZWexicH3XHdShgst7FcMuM</string>
	<key>GCM_SENDER_ID</key>
	<string>218916849638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engaz.prive</string>
	<key>PROJECT_ID</key>
	<string>prive-d5c85</string>
	<key>STORAGE_BUCKET</key>
	<string>prive-d5c85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218916849638:ios:6f63617297717895e53827</string>
</dict>
</plist>