<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315367381637-9ffk5m9k3bm388tp2e4osm3c1g97qvo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315367381637-9ffk5m9k3bm388tp2e4osm3c1g97qvo6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315367381637-lphhjahdnppmcas15c5qv5srd432291g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdNWm_MbhYym59ruEWN7N_LQXt523-ubY</string>
	<key>GCM_SENDER_ID</key>
	<string>315367381637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engaz.prive</string>
	<key>PROJECT_ID</key>
	<string>private-8dc20</string>
	<key>STORAGE_BUCKET</key>
	<string>private-8dc20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315367381637:ios:4ebfcf01c7f9828439a7ec</string>
</dict>
</plist>